Importing the Dependencies

- Dataset : https://www.kaggle.com/datasets/redwankarimsony/heart-disease-data

In [100]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [101]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('F:\Complete ML\All_Projects\MLProject3\dataset\heart.csv')

In [102]:
# print first 5 rows of the dataset  , targte is to get the target variable
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [103]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [104]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [105]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [106]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [107]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [108]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [109]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [110]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [111]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the Data into Training data & Test Data

In [112]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [113]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Model Training

Logistic Regression

In [114]:
from sklearn.preprocessing import StandardScaler

# Feature scaling
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [115]:
!pip install xgboost

Requirement already satisfied: xgboost in f:\complete generative ai\langchain\venv\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in f:\complete generative ai\langchain\venv\lib\site-packages (from xgboost) (2.1.3)
Collecting scipy (from xgboost)
  Using cached scipy-1.15.3-cp310-cp310-win_amd64.whl.metadata (60 kB)
Using cached scipy-1.15.3-cp310-cp310-win_amd64.whl (41.3 MB)
Installing collected packages: scipy
Successfully installed scipy-1.15.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sentence-transformers 3.4.1 requires Pillow, which is not installed.
sentence-transformers 3.4.1 requires scikit-learn, which is not installed.
gensim 4.3.3 requires numpy<2.0,>=1.18.5, but you have numpy 2.1.3 which is incompatible.
gensim 4.3.3 requires scipy<1.14.0,>=1.7.0, but you have scipy 1.15.3 which is incompatible.
mediapipe 0.10.21 requires numpy<2, but you have numpy 2.1.3 which is incompatible.
mediapipe 0.10.21 requires protobuf<5,>=4.25.3, but you have protobuf 5.29.3 which is incompatible.

In [116]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "XGBoost": XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42),
    "SVM": SVC(probability=True, random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=5),
    "Decision Tree": DecisionTreeClassifier(random_state=42)
}

In [117]:
from sklearn.metrics import accuracy_score, roc_auc_score, classification_report

print("\nüîç Model Evaluation:\n" + "-"*30)
best_acc = 0
best_model = ""
for name, model in models.items():
    model.fit(X_train_scaled, Y_train)
    predictions = model.predict(X_test_scaled)
    acc = accuracy_score(Y_test, predictions)
    roc = roc_auc_score(Y_test, model.predict_proba(X_test_scaled)[:, 1])
    print(f"\nüß† {name}")
    print(f"  ‚úÖ Accuracy: {acc:.4f}")
    print(f"  üöÄ ROC-AUC:  {roc:.4f}")
    print(f"  üìä Classification Report:\n{classification_report(Y_test, predictions)}")
    if acc > best_acc:
        best_acc = acc
        best_model = name

print(f"\nüèÜ The best accuracy is {best_acc:.4f} with the model: {best_model}")

üîç Model Evaluation:
------------------------------

üß† Logistic Regression
  ‚úÖ Accuracy: 0.7869
  üöÄ ROC-AUC:  0.9026
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.76      0.79      0.77        28
           1       0.81      0.79      0.80        33

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61


üß† Random Forest
  ‚úÖ Accuracy: 0.8033
  üöÄ ROC-AUC:  0.8755
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.77      0.82      0.79        28
           1       0.84      0.79      0.81        33

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.81      0.80      0.80        61


üß† XGBoost
  ‚úÖ Accuracy: 0.7541
  üöÄ ROC-AUC:  0.8452
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.72      0.75      0.74        28
           1       0.78      0.76      0.77        33

    accuracy                           0.75        61
   macro avg       0.75      0.75      0.75        61
weighted avg       0.76      0.75      0.75        61


üß† SVM
  ‚úÖ Accuracy: 0.8033
  üöÄ ROC-AUC:  0.8961
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.79      0.79        28
           1       0.82      0.82      0.82        33

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61


üß† KNN
  ‚úÖ Accuracy: 0.8197
  üöÄ ROC-AUC:  0.8609
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.82      0.81        28
           1       0.84      0.82      0.83        33

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61


üß† Decision Tree
  ‚úÖ Accuracy: 0.7869
  üöÄ ROC-AUC:  0.7841
  üìä Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.75      0.76        28
           1       0.79      0.82      0.81        33

    accuracy                           0.79        61
   macro avg       0.79      0.78      0.78        61
weighted avg       0.79      0.79      0.79        61


üèÜ The best accuracy is 0.8197 with the model: KNN

f:\Complete Generative AI\LANGCHAIN\venv\lib\site-packages\xgboost\training.py:183: UserWarning: [18:58:31] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:738:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

Model Evaluation

Building a Predictive System

In [118]:
import numpy as np

# Sample input data (each tuple represents one patient's features)
sample_inputs = [
    (62, 0, 0, 140, 268, 0, 0, 160, 0, 3.6, 0, 2, 2),
    (45, 1, 2, 130, 230, 0, 1, 180, 1, 1.2, 2, 0, 3),
    (58, 1, 3, 150, 270, 0, 1, 165, 0, 0.5, 1, 0, 2),
    (35, 0, 1, 120, 210, 1, 0, 155, 0, 2.8, 1, 0, 1),
    (70, 1, 0, 160, 300, 1, 0, 130, 1, 4.2, 2, 3, 3)
]

print("\nüß™ Heart Disease Prediction Results\n" + "-"*40)
for idx, input_data in enumerate(sample_inputs, start=1):
    # Convert and scale input
    input_data_np = np.asarray(input_data).reshape(1, -1)
    input_data_scaled = scaler.transform(input_data_np)

    # Predict
    prediction = model.predict(input_data_scaled)

    # Result
    result = "has Heart Disease ‚ù§Ô∏è" if prediction[0] == 1 else "does NOT have Heart Disease üíö"
    print(f"Person {idx}: {result}")

C:\Users\91993\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\91993\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\91993\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\91993\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\91993\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

üß™ Heart Disease Prediction Results
----------------------------------------
Person 1: does NOT have Heart Disease üíö
Person 2: has Heart Disease ‚ù§Ô∏è
Person 3: does NOT have Heart Disease üíö
Person 4: has Heart Disease ‚ù§Ô∏è
Person 5: does NOT have Heart Disease üíö

Saving the trained model

In [119]:
import os
import pickle

In [120]:
# Create 'model' directory one level up from the current directory if it doesn't exist
os.makedirs('../model', exist_ok=True)

# Save the model inside the '../model' folder
filename = '../model/heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [121]:
# loading the saved model
loaded_model = pickle.load(open('../model/heart_disease_model.sav', 'rb'))

In [122]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal